<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
<head></head>
<body>
    <div th:fragment="foot">
        <script src="/assets/js/jquery-min.js" th:src="@{'https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js'}"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js" th:src="@{'https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js'}"></script>
        <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js" th:src="@{'https://cdn.bootcss.com/vue/2.5.16/vue.min.js'}"></script>
        <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js" th:src="@{'https://cdn.bootcss.com/axios/0.18.0/axios.min.js'}"></script>
        <script src="/assets/js/bootstrap.min.js" th:src="@{'https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js'}"></script>
        <script src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js" th:src="@{'https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js'}"></script>
        <script src="/assets/js/jquery.app.js" th:src="@{'/assets/js/jquery.app.js'}"></script>
        <script src="/assets/js/main.js" th:src="@{'/assets/js/main.js'}"></script>
        <script src="/assets/js/bootstrap-notify.js" th:src="@{'/assets/js/bootstrap-notify.js'}"></script>
        <!--<script src="/assets/js/light-bootstrap-dashboard.js" th:src="@{'/assets/js/light-bootstrap-dashboard.js'}"></script>-->
        <script src="/assets/js/wjl.js" th:src="@{'/assets/js/wjl.js'}"></script>
        <!--/* <script src="/assets/js/wjl.js" th:src="@{'/assets/js/wjl.js'}"></script> */-->
        <!--/* <script src="/assets/js/popper.min.js" th:src="@{'/assets/js/popper.min.js'}"></script> */-->
        <!--/* <script src="/assets/plugins/morris/morris.min.js" th:src="@{'/assets/plugins/morris/morris.min.js'}"></script> */-->
        <!--/* <script src="/assets/plugins/raphael/raphael-min.js" th:src="@{'/assets/plugins/raphael/raphael-min.js'}"></script> */-->
        <!--/* <script src="/assets/js/dashborad1.js" th:src="@{'/assets/js/dashborad1.js'}"></script> */-->
    </div>
</body>
</html>