<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
<head></head>
<body>
    <div th:fragment="head">
        <title th:text="${title} + '管理后台'">管理后台</title>
        <meta name="description" content="吴俊龙管理后台" />
        <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/x-icon" th:href="@{'/favicon.ico'}"/>
        <meta http-equiv="Window-target" content="_top" />
        <meta name="viewport" content="width=device-width,  initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="author" content="吴俊龙" />
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" th:href="@{'https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css'}" charset="UTF-8">
        <!--/* 自行添加的样式 s */-->
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-cerulean.min.css" th:href="@{'/assets/css/bootstrap-cerulean.min.css'}" >
        <!--/* 自行添加的样式 e */-->
        <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css" th:href="@{'/assets/fonts/line-icons.css'}" charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/assets/css/icons.css" th:href="@{'/assets/css/icons.css'}">
        <link rel="stylesheet" type="text/css" href="/assets/plugins/morris/morris.css" th:href="@{'https://cdn.bootcss.com/morris.js/0.5.1/morris.css'}" charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" th:href="@{'/assets/css/main.css'}">
        <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" th:href="@{'/assets/css/responsive.css'}" charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" th:href="@{'https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css'}" charset="UTF-8">
        <!--/* 自行添加的样式 s */-->
        <link rel="stylesheet" type="text/css" href="/assets/css/charisma-app.css" th:href="@{'/assets/css/charisma-app.css'}" >
        <link rel="stylesheet" type="text/css" href="/assets/css/wjl.css" th:href="@{'/assets/css/wjl.css'}" >
        <!--/* 自行添加的样式 e */-->

    </div>
</body>
</html>