<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
<head></head>
<body>
    <div th:fragment="footer">
        <script src="/assets/js/jquery-min.js" th:src="@{'/assets/js/jquery-min.js'}"></script>
        <script src="/assets/js/popper.min.js" th:src="@{'/assets/js/popper.min.js'}"></script>
        <script src="/assets/js/bootstrap.min.js" th:src="@{'/assets/js/bootstrap.min.js'}"></script>
        <script src="/assets/js/jquery.app.js" th:src="@{'/assets/js/jquery.app.js'}"></script>
        <script src="/assets/js/main.js" th:src="@{'/assets/js/main.js'}"></script>
        <!--/* <script src="/assets/plugins/morris/morris.min.js" th:src="@{'/assets/plugins/morris/morris.min.js'}"></script> */-->
        <script src="/assets/plugins/raphael/raphael-min.js" th:src="@{'/assets/plugins/raphael/raphael-min.js'}"></script>
        <!--<script src="/assets/js/dashborad1.js" th:src="@{'/assets/js/dashborad1.js'}"></script>-->
    </div>
</body>
</html>