<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      lang="zh-CN">
    <head>
        <head th:include="layout/head::head"></head>
    </head>
    <body>
        <div class="app header-default side-nav-dark">
            <div class="layout">
                <div class="header navbar" th:include="layout/navbar::navbar"></div>
                <div class="side-nav expand-lg" th:include="layout/nav::nav"></div>
                <div class="page-container">
                    <div class="main-content" layout:fragment="content"></div>
                </div>

            </div>
        </div>
        <div id="preloader">
            <div class="loader" id="loader-1"></div>
        </div>

        <div th:include="layout/foot::foot"></div>
        <div layout:fragment="foot"></div>
    </body>
</html>