<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
<head></head>
<body>
    <div class="container-fluid" th:fragment="bodytitle">
        <div class="breadcrumb-wrapper row">
            <div class="col-12 col-lg-3 col-md-6">
                <h4 class="page-title">aaa</h4>
            </div>
            <div class="col-12 col-lg-9 col-md-6">
                <ol class="breadcrumb float-right">
                    <li><a href="/">首页</a></li>
                    <li class="active"></li>
                </ol>
            </div>
        </div>

    </div>
    
</body>
</html>