<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
    <head></head>
    <body>
        <!--/*
        gt：great than（大于）>
        ge：great equal（大于等于）>=
        eq：equal（等于）==
        lt：less than（小于）<
        le：less equal（小于等于）<=
        ne：not equal（不等于）!=
        */-->
        <div  th:fragment="nav">
            <div class="side-nav-inner">
                <ul class="side-nav-menu">
                    <li th:each="menu:${menus}"  th:class="${menu.show} ? 'nav-item dropdown open' : 'nav-item dropdown'">
                        <a href="#" class="dropdown-toggle">
                            <span th:class="'icon-holder'">
                                <i th:class="${menu.icon}"></i>
                            </span>
                            <span th:class="'title'" th:text="${menu.name}"></span>
                            <span th:class="'arrow'">
                                <i th:class="'lni-chevron-right'"></i>
                            </span>
                        </a>
                        <ul th:class="'dropdown-menu sub-down'" th:style="${menu.show} ? 'display:block;' : 'display:none;'">
                            <li th:each="smenu:${menu.childrenMenus}" th:class="${smenu.show} ? 'active' : ''">
                                <a th:href="${smenu.url}"><i th:class="${smenu.icon}"></i> <span th:text="${smenu.name}"></span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>