<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
<head></head>
<body>
    <div th:fragment="title">
        <div class="breadcrumb-wrapper row">
            <div class="col-12 col-lg-3 col-md-6">
                <h1 class="page-title" th:text="${childmenu.name == null || childmenu.name == ''} ? ${parentmenu.name} : ${childmenu.name}"></h1>
            </div>
            <div class="col-12 col-lg-9 col-md-6">
                <ol class="breadcrumb float-right">
                    <li ><a th:href="${parentmenu.url}" th:text="${parentmenu.name}"></a></li>
                    <li th:class="${childmenu.name == null || childmenu.name == ''} ? '' : 'active'"><a th:href="${childmenu.url}" th:text="${childmenu.name}"></a></li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>