<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
    <head></head>
    <body th:fragment="foot" >
        <script src="https://cdn.jsdelivr.net/npm/vue" th:src="@{'https://cdn.jsdelivr.net/npm/vue'}"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/assets/js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/assets/js/vendor/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/mmenu/js/jquery.mmenu.min.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/sparkline/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/animate-numbers/jquery.animateNumbers.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/videobackground/jquery.videobackground.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/blockui/jquery.blockUI.js"></script>

        <script src="/assets/js/vendor/flot/jquery.flot.min.js"></script>
        <script src="/assets/js/vendor/flot/jquery.flot.time.min.js"></script>
        <script src="/assets/js/vendor/flot/jquery.flot.selection.min.js"></script>
        <script src="/assets/js/vendor/flot/jquery.flot.animator.min.js"></script>
        <script src="/assets/js/vendor/flot/jquery.flot.orderBars.js"></script>
        <script src="/assets/js/vendor/easypiechart/jquery.easypiechart.min.js"></script>

        <script src="/assets/js/vendor/rickshaw/raphael-min.js"></script>
        <script src="/assets/js/vendor/rickshaw/d3.v2.js"></script>
        <script src="/assets/js/vendor/rickshaw/rickshaw.min.js"></script>

        <script src="/assets/js/vendor/morris/morris.min.js"></script>

        <script src="/assets/js/vendor/tabdrop/bootstrap-tabdrop.min.js"></script>

        <script src="/assets/js/vendor/summernote/summernote.min.js"></script>

        <script src="/assets/js/vendor/chosen/chosen.jquery.min.js"></script>

        <script src="/assets/js/minimal.min.js"></script>

        <script type="text/javascript" th:inline="javascript" >
            /*<![CDATA[*/

            /*]]>*/
        </script>
    </body>
</html>