<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
       layout:decorator="layout/layout"
       lang="zh-CN">
    <head></head>
    <body>
        <div id="app" class="container-fluid" layout:fragment="content">

            <div class="row">

                    <div class="col-lg-6 col-md-12 col-xs-12" v-for="menu in menus">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h4 class="card-title"><strong>{{menu.name}}</strong></h4>
                            </div>
                            <div class="card-body">
                                <form class="forms-sample">
                                    <div class="custom-control custom-checkbox m-b-5" v-for="(value, key, index) in menu.childrenMenus">
                                        <input type="checkbox" class="custom-control-input" id="checkbox{{index}}}">
                                        <label class="custom-control-label" for="checkbox{{index}}">{{value.name}}</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <div layout:fragment="foot">
            <script type="text/javascript" th:inline="javascript">
                /* <![CDATA[ */
                var data = [[${data}]];
                console.log(data);
                var vm = new Vue({
                    el: '#app',
                    data: {
                        menus:data
                    },
                    methods: {

                    }
                })
                /* ]]> */

            </script>
        </div>
    </body>
</html>