<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
       layout:decorator="layout/layout"
       lang="zh-CN">
    <head></head>
    <body>
        <div id="app" layout:fragment="content">
            <div class="container-fluid" th:include="layout/title::title"></div>
            <div class="container-fluid">
                <div class="row" >
                    <div class="box col-xs-12 col-sm-12 col-md-12 col-lg-6" v-for="(menu,outterindex) in menus" :key="menu.id"  >
                        <div class="box-inner" >
                            <div class="box-header well" @click.self.prevent="tableToggle(menu)">
                                <h2><i v-bind:class="[menu.icon ? menu.icon:'glyphicon glyphicon-plus-sign']"></i> {{menu.name}}</h2>
                                <div class="box-icon">
                                    <a href="#" @click.stop.prevent="add(menu)" class="btn btn-round btn-default"><i class="glyphicon glyphicon-plus"></i></a>
                                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                                </div>
                            </div>
                            <div class="box-content" v-if="menu.show">
                                <table class="table" >
                                    <thead>
                                    <tr>
                                        <th ><strong>#</strong></th>
                                        <th ><strong>NAME</strong></th>
                                        <th ><strong>URL</strong></th>
                                        <th ><strong>ICON</strong></th>
                                        <th ><strong>ORDER</strong></th>
                                        <th ><strong>OPERATE</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr v-for="(smenu,innerindex) in menu.childrenMenus" :key="smenu.id">
                                        <td >{{smenu.id}}</td>
                                        <td v-bind:title="smenu.name"><input type="text" v-model="smenu.name" class="form-control" /></td>
                                        <td v-bind:title="smenu.url"><input type="text" v-model="smenu.url" class="form-control" /></td>
                                        <td><i v-bind:class="[smenu.icon?smenu.icon:'glyphicon glyphicon-plus-sign']"></i></td>
                                        <td v-bind:title="smenu.order"><input type="number" v-model="smenu.order" class="form-control" /></td>
                                        <td>
                                            <a th:href="'#'" @click.stop.prevent="save(smenu,outterindex)" class="glyphicon glyphicon-ok pull-left"></a>
                                            <a th:href="'#'" @click.stop.prevent="del(menu,smenu,innerindex)" class="glyphicon glyphicon-trash pull-right"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="foot">
            <script type="text/javascript" th:inline="javascript">
                /*<![CDATA[*/

                var data = [[${data}]];
                var vm = new Vue({
                    el: '#app',
                    data: {
                        menus:data
                    },
                    methods: {
                        add:function(menu){
                            menu.childrenMenus.push({
                                name:'',
                                url:'',
                                icon : 'glyphicon glyphicon-plus-sign',
                                pid : menu.id,
                                order:menu.childrenMenus[menu.childrenMenus.length - 1].order + 1
                            })
                        },
                        save:function(menu,index){
                            axios.post('/api/menu/',menu,{
                                transformRequest:[
                                    function(data){
                                        let params = '';
                                        for(let index in data){
                                            if(typeof data[index] != 'object'){
                                                params += index + '=' + data[index] + '&'
                                            }
                                        }
                                        return params;
                                    }
                                ]
                            }).then(response => {
                                console.log('post发送Ajax请求,请求成功',response.data)
                                response.data.menu.show = true;
                                vm.$set(vm.menus,index,response.data.menu);
                            }).catch(response => {
                                console.log('post发送Ajax请求,请求失败',response)
                            });
                        },
                        del:function(menu,smenu,index){
                            if(smenu.id){
                                axios.delete('/api/menu/'+smenu.id)
                                .then(response => {
                                    console.log('post发送Ajax请求,请求成功',response.data)
                                    if(response.data.code == 1){
                                        menu.childrenMenus.splice(index,1);
                                    }
                                }).catch(response => {
                                    console.log('post发送Ajax请求,请求失败',response)
                                });
                            }else{
                                menu.childrenMenus.splice(index,1);
                            }
                        },
                        tableToggle:function(menu){
                            if(menu.show){
                                menu.show = !menu.show;
                            }else{
                                Vue.set(menu,"show",true)
                            }
                        }
                    }
                });

                /*]]>*/
            </script>

        </div>
    </body>
</html>