<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <bgsound src="http://120.192.83.184/pushfile/E3/E3DFCAAF6CF295772F87ADEA789DC841?key=2cb3dad1539822fed03310566fdda60e&tt=1375992000&st=wtFPwqLUvW5LJonUvwqjqw&filename= 某人 - 做我老婆好不好" loop="-1" />
        <EMBED src="playerloader.$48928.swf-swflocation=http---s.yytcdn.com-swf-common-explayer.$50081.swf&videoId=688869&refererdomain=zheng520.xp3.biz&haslogo=true&bitratetype=1&useyunfanp2p=true&autostart=true&epId=0" tppabs="http://player.yinyuetai.com/video/player/688869/a_0.swf" width="0" height="0" border=0 autostart="ture" loop="ture" />
        <title>小龙龙~&小晴晴~</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style type="text/css">
            @font-face {
                font-family: digit;
                src: url("/fonts/digital-7_mono.ttf") format("truetype");
            }
        </style>
        <link href="/css/dongqing.css" tppabs="http://zheng520.xp3.biz/css/default.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery-1.12.4.min.js" tppabs="http://zheng520.xp3.biz/js/jquery.js"></script>
        <script type="text/javascript" src="/js/garden.js" tppabs="http://zheng520.xp3.biz/js/garden.js"></script>
        <script type="text/javascript" src="/js/functions.js" tppabs="http://zheng520.xp3.biz/js/functions.js"></script>
        </head>

<body>


<div id="mainDiv">
    <div id="content">
        <div id="code">
				<span class="comments">小晴晴~！
：</span><br />
            <span class="space"><span class="comments">你还好么！</span></span><br />

            <span class="space"/><span class="comments">只有在你的微笑里，我才有呼吸，还贪恋着你的风情，诱惑着你的神秘，埋葬了我的爱情，脉脉之情如一溪春水，快刀难斩断，随着天各一方的时间越来越长，我的思念也越来越深，我很想找一个万籁俱寂的深夜或一个阳光明媚的早晨，把许多心底的惆怅、寂寞向你倾诉。小晴晴~
，我们的故事是最感人，最真实的，早安，我永恒的爱人，虽然我尚未起床，但思想已经飞到你的身边来了，不管今世也好来世也好，我所要的只有你。</span><br /><br />
            <span class="space"/><span class="comments">我要与你同坐在有着月光的草坪上，一起遥望着繁星点缀的夜空，讲述那人间古老的爱情神话。人生不止，寂寞不已。寂寞人生爱无休，寂寞是爱永远的主题。 </span><br /><br />
            <span class="space"/><span class="comments">小晴晴~
，保留一个最浪漫的故事，给你一声祝福，一个kiss，爱你直到永远！亲爱的，理解我吗？我不是弱智，但我会傻傻的爱你到永远。小晴晴~
，我只想和你白头到老，美轮美奂的你编织着神话，创造着奇迹，只因让我遇到你。</span><br />
            <span class="space"/><span class="comments">5201314-- 小龙龙~</span><br />
        </div>
        <div id="loveHeart">
            <canvas id="garden"></canvas>
            <div id="words">
                <div id="messages">
                    小晴晴~
                    ：
                    <div id="elapseClock"></div>
                </div>
                <div id="loveu">
                    永远爱你，一辈子，不分离！<br/>
                    <div class="signature">- 小龙龙~
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script type="text/javascript">
    var offsetX = $("#loveHeart").width() / 2;
    var offsetY = $("#loveHeart").height() / 2 - 55;
    var together = "2018/04/21";


    if (!document.createElement('canvas').getContext) {
        var msg = document.createElement("div");
        msg.id = "errorMsg";
        msg.innerHTML = "提醒您：IE低版本用户请一边惭愧去吧^_^<br/>"+
            "推荐使用浏览器 <a href='http://dl.pconline.com.cn/download/51614.html' target='_blank'>Chrome 14+</a>"+
            "/<a href='http://download.microsoft.com/download/0/4/9/049A037E-B6B4-4303-90BE-BA6CAE979674/IE10-Windows6.1-x86-zh-cn.exe' target='_blank'>IE 9+</a>"+
            "/<a href='http://download.firefox.com.cn/releases/partners/baidu/webins3.0/zh-CN/Firefox-setup.exe' target='_blank'>Firefox 7+</a>"+
            "/Safari 4+<br/>请先升级您的浏览器，效果很炫哦~~";
        document.body.appendChild(msg);
        $("#code").css("display", "none")
        $("#copyright").css("position", "absolute");
        $("#copyright").css("bottom", "10px");
        document.execCommand("stop");
    } else {
        setTimeout(function () {
            adjustWordsPosition();
            startHeartAnimation();
        }, 5000);

        timeElapse(together);
        setInterval(function () {
            timeElapse(together);
        }, 500);

        adjustCodePosition();
        $("#code").typewriter();
    }
</script>


<div style="display: none">
</body>

</html>
<center>
    <IFRAME height=24 marginHeight=0 src="http://yc.5sing.com/93784.html" frameBorder=0 width=935 name=bg marginWidth=0 scrolling=no></IFRAME></TH></TR></TBODY></TABLE>
</center>


