<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head></head>
<body>
<footer th:fragment="footer">
    <script type="text/javascript" src="/jquery/js/jquery-1.12.4.min.js" th:src="@{'https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js'}"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js" th:src="@{'https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js'}"></script>
    <script type="text/javascript" src="/jquery-scrollTo/js/jquery.scrollTo.min.js" th:src="@{'https://cdn.bootcss.com/jquery-scrollTo/2.1.1/jquery.scrollTo.min.js'}"></script>
    <script type="text/javascript" src="/easy-pie-chart/js/jquery.easypiechart.min.js" th:src="@{'https://cdn.bootcss.com/easy-pie-chart/2.1.6/jquery.easypiechart.min.js'}"></script>
    <script type="text/javascript" src="/imagesloaded/js/imagesloaded.pkgd.min.js" th:src="@{'https://cdn.bootcss.com/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js'}"></script>
    <script type="text/javascript" src="/isotope/js/isotope.pkgd.min.js" th:src="@{'https://cdn.bootcss.com/jquery.isotope/3.0.6/isotope.pkgd.min.js'}"></script>
</footer>
</body>
</html>