<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head></head>
<body>
<footer class="footer text-center" th:fragment="footer">
    <script type="text/javascript" th:src="@{'/plugins/jquery-1.12.4.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/plugins/bootstrap/js/bootstrap.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/plugins/back-to-top.js'}"></script>
    <script type="text/javascript" th:src="@{'/plugins/jquery-scrollTo/jquery.scrollTo.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/plugins/imagesloaded.pkgd.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/plugins/isotope.pkgd.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/js/main.js'}"></script>
    <script th:src="@{'/js/demo/style-switcher.js'}"></script>
</footer>
</body>
</html>