<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head></head>
<body>
    <div th:fragment="header">
        <!--/* 可以使用一下两种服务器端注释 */-->
        <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/x-icon" th:href="@{'/favicon.ico'}"/>
        <meta http-equiv="Window-target" content="_top"/>
        <!--/* width 设置layout viewport 的宽度，为一个正整数，使用字符串”width-device”表示设备宽度 */-->
        <!--/* initial-scale 设置页面的初始缩放值，为一个数字，可以带小数 */-->
        <!--/* minimum-scale 允许用户的最小缩放值，为一个数字，可以带小数 */-->
        <!--/* maximum-scale 允许用户的最大缩放值，为一个数字，可以带小数 */-->
        <!--/* height 设置layout viewport 的高度，这个属性对我们并不重要，很少使用 */-->
        <!--/* user-scalable 是否允许用户进行缩放，值为”no”或”yes”, no 代表不允许，yes代表允许 */-->
        <!--/* target-densitydpi 值可以为一个数值或 high-dpi 、 medium-dpi、 low-dpi、 device-dpi 这几个字符串中的一个 */-->
        <meta name="viewport" content="width=device-width,  initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!--/* 删除默认的苹果工具栏和菜单栏。需要显示工具栏和菜单栏时，不需要添加，默认值为yes，即显示。*/-->
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <!--/* 添加到主屏后的标题（iOS 6 新增） */-->
        <meta name="apple-mobile-web-app-title" content="吴俊龙管理后台">
        <!--/* 苹果手机title bar 颜色 */-->
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <!--/* 不将数字识别为手机号 */-->
        <meta name="format-detection" content="telephone=no">
        <!--/* 不识别地图 */-->
        <meta name="format-detection" content="address=no">
        <!--/* 不识别邮箱 */-->
        <meta name="format-detection" content="email=no">
        <link rel="dns-prefetch" href="//ajax.googleapis.com" th:href="@{'//ajax.googleapis.com'}">
        <link rel="dns-prefetch" href="//partner.gooleadservices.com" th:href="@{'//partner.gooleadservices.com'}">
        <link rel="dns-prefetch" href="//google.com.tw" th:href="@{'//google.com.tw'}">
        <link rel="dns-prefetch" href="//pagead2.googlesyndication.com" th:href="@{'//pagead2.googlesyndication.com'}">
        <link rel="dns-prefetch" href="//google-analytics.com" th:href="@{'//google-analytics.com'}">
        <link rel="dns-prefetch" href="//googleads.g.doubleclick.net" th:href="@{'//googleads.g.doubleclick.net'}">
        <link rel="dns-prefetch" href="//pubads.g.doubleclick.net" th:href="@{'//pubads.g.doubleclick.net'}">
        <link rel="dns-prefetch" href="//graph.facebook.com" th:href="@{'//graph.facebook.com'}">
        <link rel="dns-prefetch" href="//graph.facebook.com" th:href="@{'//graph.facebook.com'}">
        <link rel="dns-prefetch" href="//connect.facebook.net" th:href="@{'//connect.facebook.net'}">
        <!--/* 禁止建立屏幕快照 */-->
        <meta name="robots" content="noarchive">
        <!--/* 关闭谷歌翻译 */-->
        <meta name="google" content="notranslate">
        <meta name="author" content="吴俊龙">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
        <!--[if lt IE 9]>
            <script src='assets/javascripts/html5shiv.js' type='text/javascript' th:src="@{https://cdn.bootcss.com/html5shiv/r29/html5.min.js}" ></script>
        <![endif]-->
        <link href='assets/stylesheets/bootstrap/bootstrap.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css'}"  />
        <link href='assets/stylesheets/bootstrap/bootstrap-responsive.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.min.css'}" />
        <!--/* jquery ui */-->
        <link href='assets/stylesheets/jquery_ui/jquery-ui-1.10.0.custom.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.css'}" />
        <link href='assets/stylesheets/jquery_ui/jquery.ui.1.10.0.ie.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/jquery-ui-bootstrap/0.5pre/css/custom-theme/jquery.ui.1.10.0.ie.css'}" />
        <!--/* switch buttons */-->
        <link href='assets/stylesheets/plugins/bootstrap_switch/bootstrap-switch.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/bootstrap-switch/4.0.0-alpha.1/css/bootstrap-switch.min.css'}" />
        <!--/* xeditable */-->
        <link href='assets/stylesheets/plugins/xeditable/bootstrap-editable.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/x-editable/1.5.1/bootstrap-editable/css/bootstrap-editable.css'}" />
        <link href='assets/stylesheets/plugins/common/bootstrap-wysihtml5.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/wysihtml5/0.3.0/wysihtml5.min.js'}" />
        <!--/* wysihtml5 (wysywig) */-->
        <!--/* <link href='assets/stylesheets/plugins/common/bootstrap-wysihtml5.css' media='all' rel='stylesheet' type='text/css' /> */-->
        <!--/* jquery file upload */-->
        <link href='assets/stylesheets/plugins/jquery_fileupload/jquery.fileupload-ui.css' media='all' rel='stylesheet' type='text/css' th:href="@{'assets/stylesheets/plugins/jquery_fileupload/jquery.fileupload-ui.css'}" />
        <!--/* full calendar */-->
        <link href='assets/stylesheets/plugins/fullcalendar/fullcalendar.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/fullcalendar/4.0.0-alpha/fullcalendar.min.css'}" />
        <!--/* select2 */-->
        <link href='assets/stylesheets/plugins/select2/select2.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/select2/4.0.6-rc.1/css/select2.min.css'}" />
        <!--/* mention */-->
        <link href='assets/stylesheets/plugins/mention/mention.css' media='all' rel='stylesheet' type='text/css' th:href="@{'assets/stylesheets/plugins/mention/mention.css'}" />
        <!--/* tabdrop (responsive tabs) */-->
        <link href='assets/stylesheets/plugins/tabdrop/tabdrop.css' media='all' rel='stylesheet' type='text/css' th:href="@{'assets/stylesheets/plugins/tabdrop/tabdrop.css'}" />
        <!--/* jgrowl notifications */-->
        <link href='assets/stylesheets/plugins/jgrowl/jquery.jgrowl.min.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/jquery-jgrowl/1.4.6/jquery.jgrowl.min.css'}" />
        <!--/* datatables */-->
        <link href='assets/stylesheets/plugins/datatables/bootstrap-datatable.css' media='all' rel='stylesheet' type='text/css' th:href="@{'assets/stylesheets/plugins/datatables/bootstrap-datatable.css'}" />
        <!--/* dynatrees (file trees) */-->
        <link href='assets/stylesheets/plugins/dynatree/ui.dynatree.css' media='all' rel='stylesheet' type='text/css' th:href="@{'assets/stylesheets/plugins/dynatree/ui.dynatree.css'}" />
        <!--/* color picker */-->
        <link href='assets/stylesheets/plugins/bootstrap_colorpicker/bootstrap-colorpicker.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/bootstrap-colorpicker/2.5.2/css/bootstrap-colorpicker.css'}" />
        <!--/* datetime picker */-->
        <link href='assets/stylesheets/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.min.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css'}" />
        <!--/* daterange picker) */-->
        <link href='assets/stylesheets/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.css' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/bootstrap-daterangepicker/3.0.3/daterangepicker.min.css'}" />
        <!--/* flags (country flags) */-->
        <link href='assets/stylesheets/plugins/flags/flags.css' media='all' rel='stylesheet' type='text/css' th:href="@{'assets/stylesheets/plugins/flags/flags.css'}" />
        <!--/* slider nav (address book) */-->
        <link href='assets/stylesheets/plugins/slider_nav/slidernav.css' media='all' rel='stylesheet' type='text/css' th:href="@{'assets/stylesheets/plugins/slider_nav/slidernav.css'}" />
        <!--/* fuelux (wizard) */-->
        <link href='assets/stylesheets/plugins/fuelux/wizard.css' media='all' rel='stylesheet' type='text/css' th:href="@{'assets/stylesheets/plugins/fuelux/wizard.css'}" />
        <link href='https://cdn.bootcss.com/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js' media='all' rel='stylesheet' type='text/css' th:href="@{'https://cdn.bootcss.com/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js'}" />
        <!--/* flatty theme */-->
        <link href='assets/stylesheets/light-theme.css' id='color-settings-body-color' media='all' rel='stylesheet' type='text/css' th:href="@{'assets/stylesheets/light-theme.css'}" />
        <!--/* demo */-->
        <link href='assets/stylesheets/demo.css' media='all' rel='stylesheet' type='text/css' />
    </div>
</body>
</html>