<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head></head>
<body>
<!--
gt：great than（大于）>
ge：great equal（大于等于）>=
eq：equal（等于）==
lt：less than（小于）<
le：less equal（小于等于）<=
ne：not equal（不等于）!=
-->
    <div th:fragment="nav">
        <div id='main-nav-bg'></div>
        <nav class='' id='main-nav'>
            <div class='navigation'>
                <div class='search'>
                    <form accept-charset="UTF-8" action="search_results.html" method="get" /><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
                    <div class='search-wrapper'>
                        <input autocomplete="off" class="search-query" id="q" name="q" placeholder="Search..." type="text" value="" />
                        <button class="btn btn-link icon-search" name="button" type="submit"></button>
                    </div>
                    </form>
                </div>
                <ul class='nav nav-stacked'>
                    <li th:each="menu,menuStat:${menus}" class='active'>
                        <a th:href="${menu.url}">
                            <i th:class="${menu.icon}"></i>
                            <span th:text="${menu.name}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>