<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN" >
<head>
    <!--<head th:include="header::header"></head>-->
    <title>登录</title>
    <link href="/login/css/default.css" th:href="@{'/login/css/default.css'}" rel="stylesheet" type="text/css" />
    <link href="/login/css/styles.css" th:href="@{'/login/css/styles.css'}" rel="stylesheet" type="text/css" />
    <link href="/login/css/demo.css" th:href="@{'/login/css/demo.css'}" rel="stylesheet" type="text/css" />
    <link href="/login/css/loaders.css" th:href="@{'/login/css/loaders.css'}" rel="stylesheet" type="text/css" />
    <link href="/layui/css/layui.css" th:href="@{'/layui/css/layui.css'}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class='login'>
        <div class='login_title'>
            <span>管理员登录</span>
        </div>
        <div class='login_fields'>
            <div class='login_fields__user'>
                <div class='icon'>
                    <img alt="" src='/login/img/user_icon_copy.png' th:src="@{'/login/img/user_icon_copy.png'}">
                </div>
                <input name="login" placeholder='用户名' maxlength="16" type='text' autocomplete="off" value="kbcxy"/>
                <div class='validation'>
                    <img alt="" src='/login/img/tick.png' th:src="@{'/login/img/tick.png'}">
                </div>
            </div>
            <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='/login/img/lock_icon_copy.png' th:src="@{'/login/img/lock_icon_copy.png'}">
                </div>
                <input name="pwd" placeholder='密码' maxlength="16" type='text' autocomplete="off">
                <div class='validation'>
                    <img alt="" src='/login/img/tick.png' th:src="@{'/login/img/tick.png'}">
                </div>
            </div>
            <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='/login/img/key.png' th:src="@{'/login/img/key.png'}">
                </div>
                <input type="text" th:name="code" name="code" th:placeholder="验证码" placeholder='验证码' th:maxlength="4" maxlength="4" autocomplete="off" th:autocomplete="off" >
                <div class='validation' style="opacity: 1; right: -5px;top: -3px;">
                    <canvas class="J_codeimg" id="myCanvas" onclick="Code();">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
                </div>
            </div>
            <div class='login_fields__submit'>
                <input type='button' value='登录'>
            </div>
        </div>
        <div class='success'>
        </div>
        <div class='disclaimer'>
            <p>欢迎登陆后台管理系统</p>
        </div>
    </div>
    <div class='authent'>
        <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
            <div class="loader-inner ball-clip-rotate-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <p>认证中...</p>
    </div>
    <div class="OverWindows"></div>
    <footer>
        <footer th:include="footer::footer"></footer>
        <script type="text/javascript" src="/jquery-ui/js/jquery-ui.min.js" th:src="@{'/jquery-ui/js/jquery-ui.min.js'}"></script>
        <script type="text/javascript" src="/wjl/js/stopExecutionOnTimeout.js" th:src="@{'/wjl/js/stopExecutionOnTimeout.js'}"></script>
        <script type="text/javascript" src="/layui/layui.js" th:src="@{'/layui/layui.js'}"></script>
        <script type="text/javascript" src="/Particleground/js/Particleground.js" th:src="@{'/Particleground/js/Particleground.js'}"></script>
        <script type="text/javascript" src="/wjl/js/Treatment.js" th:src="@{'/wjl/js/Treatment.js'}"></script>
        <script type="text/javascript" src="/login/js/jquery.mockjax.js" th:src="@{'https://cdn.bootcss.com/jquery-mockjax/1.6.2/jquery.mockjax.min.js'}"></script>
        <script type="text/javascript" src="/login/js/login.js" th:src="@{'/login/js/login.js'}"></script>
    </footer>
</body>
</html>
