<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
    <head></head>
    <body>
        <div th:fragment="header">
            <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="icon" type="image/x-icon" th:href="@{'/favicon.ico'}"/>
            <meta http-equiv="Window-target" content="_top"/>
            <meta name="viewport" content="width=device-width,  initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <meta name="apple-mobile-web-app-capable" content="yes"/>
            <meta name="apple-mobile-web-app-title" content="吴俊龙">
            <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
            <meta name="format-detection" content="telephone=no">
            <meta name="format-detection" content="address=no">
            <meta name="format-detection" content="email=no">
            <link rel="dns-prefetch" href="//ajax.googleapis.com" th:href="@{'//ajax.googleapis.com'}">
            <link rel="dns-prefetch" href="//partner.gooleadservices.com" th:href="@{'//partner.gooleadservices.com'}">
            <link rel="dns-prefetch" href="//google.com.tw" th:href="@{'//google.com.tw'}">
            <link rel="dns-prefetch" href="//pagead2.googlesyndication.com" th:href="@{'//pagead2.googlesyndication.com'}">
            <link rel="dns-prefetch" href="//google-analytics.com" th:href="@{'//google-analytics.com'}">
            <link rel="dns-prefetch" href="//googleads.g.doubleclick.net" th:href="@{'//googleads.g.doubleclick.net'}">
            <link rel="dns-prefetch" href="//pubads.g.doubleclick.net" th:href="@{'//pubads.g.doubleclick.net'}">
            <link rel="dns-prefetch" href="//graph.facebook.com" th:href="@{'//graph.facebook.com'}">
            <link rel="dns-prefetch" href="//graph.facebook.com" th:href="@{'//graph.facebook.com'}">
            <link rel="dns-prefetch" href="//connect.facebook.net" th:href="@{'//connect.facebook.net'}">
            <meta name="robots" content="noarchive">
            <meta name="google" content="notranslate">
            <meta name="author" content="吴俊龙">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" th:href="@{'https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'}" type='text/css'>
            <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{'https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css'}">
            <link rel="stylesheet" href="/css/font-awesome.css" th:href="@{'https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css'}">
        </div>
    </body>
</html>